.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
    font-size: 23px;
}
.navbar-fixed-top {
	padding: 25px 0px;
}
.navbar .navbar-nav {
    letter-spacing: 1px;
}
.navbar-right {
	margin: 0 0 3px 0;
	word-spacing: 1px;
}
.fa-facebook-f {
	margin:10px;
}
.navbar-default {
	background-color: black;
}
.body {
	background-color:black;
}
.jumbotron {
	position: relative;
	top:100px;
	height:425px;
	background-color:white;
}
.jumbotron h1 {
	text-align: center;
}
.jumbotron p {
	text-align: center;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}
.navbar-default .navbar-brand {
	color:#F9A602;
	font-size: 75px;
}
.fa-instagram:before {
	color:white;
}
.fa-facebook-f:before, .fa-facebook:before {
	color:white;
}
.constitution p {
	text-align:center;
	font-size:22px;
	padding-top:50px;
	width:1100px;
	color:white;
	display:absolute;
	margin-left:100px;
}
.constitution h2 {
	margin-top:150px;
	margin-bottom:10px;
	text-align: center;
	color:#F9A602;
	font-size: 60px;
}

.ArticleI h2 {
	text-align: center;
}
.fa:hover {
	background-color: #F9A602;
}
.fa {

}
.btn-instagram {
	margin-left:10px;
}
h4, .h4 {
  font-size: 25px;
}

.btn-primary {
	color: black;
}
.btn-lg, .btn-group-lg>.btn {
	font-size:22px;
	font-weight: 700;
}